body{
  margin-top:  0;/*Fix the header to the top*/
}
.header{
  display:flex;/* Flex container for header*/
  align-items: center;
  font-family: 'Verdana' sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  position:fixed;
  z-index: 5;
  width:100%;
  padding-bottom: 10px;
  padding-top:10px;
  border-bottom: 1px solid black;

}
.logo{
  display: flex;
  border: 1px solid black;
  padding-right: 840px;
  padding-left: 25px;
}
.logo p{
  color:MediumAquamarine;
  display: inline-block;
  align-self: center;/*center text for logo*/
  padding-left: 10px;
}
.links li{
  display: inline-block;
  list-style: none;
  padding-right:10px;
  padding-left: 10px;
}
.links a{
  color:black;
}
/*End of header*/
.main{
  display:flex;
  border:1px solid black;
  justify-content: space-between;/*columns to the left*/
  top:120px;
  position:relative;
}
.column{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;/*columns on the top of the main*/
  border:1px solid black;
}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
.story{
  border:1px solid black;
  font-family: Georgia;
  color: black;
}
.story p{
  font-size: 17px;
}
.image{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.image.Mom{
  background-image: url('/home/kendra/Developer/repos/mytimes/resources/images/img-story-main.png');
  background-repeat: repeat;
  font-size: 40px;

}
.image.Earth, .image.Camera, .image.Cat{
  margin-top: 18px;
  border: 1px solid black;
}
.image.Earth{
  background-image: url('/home/kendra/Developer/repos/mytimes/resources/images/img-story-2.png');
  background-repeat: repeat;

}
.image.Camera{
  background-image: url('/home/kendra/Developer/repos/mytimes/resources/images/img-story-3.png');
  background-repeat: repeat;


}
.image.Cat{
  background-image: url('/home/kendra/Developer/repos/mytimes/resources/images/img-story-1.png');
  background-repeat: repeat;
}
