/*header*/
.header{
display:flex;
border-bottom:1px solid black;
font-family:Verdana;
font-size:14px;
padding-bottom: 10px;
padding-left:30px;
padding-right:50px;
font-weight:bold;
justify-content: space-between;
align-items:center;

}
.group{
  display: flex;
  align-items: center;
}
.group span{
  list-style: none;
  display:inline-block;
  color:MediumAquamarine;
padding-left: 10px;
}
.links li {
  list-style: none;
  display:inline-block;
padding-left: 20px;
}
.header a{
  color:black;
}
/*main container*/
.main{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;

  border: 2px solid black;
}
.column{
  display:flex;
  flex-direction: column;

  /*border:1px solid black;*/

}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
.story, .story p{
  margin:0;
  padding:0;
  border: 1px solid black;
}
.image1{
  color:white;
  display:flex;
  background-image: url('/home/kendra/Developer/repos/mytimes/resources/images/img-story-main.png');
  background-size: cover;
height:300px;

}
.image2{
background-image: url('/home/kendra/Developer/repos/mytimes/resources/images/img-story-2.png');
color:white;
display:flex;
background-repeat: repeat;
height:300px;
}
.image3{
  background-image: url('/home/kendra/Developer/repos/mytimes/resources/images/img-story-3.png');
  color:white;
  display:flex;
  background-repeat: repeat;
  height:300px;

}
.image4{
  background-image: url('/home/kendra/Developer/repos/mytimes/resources/images/img-story-1.png');
  color:white;
  display:flex;
  background-repeat: repeat;
  height:300px;

}
